@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600&display=swap");

:root {
    --Plum: #073dbe;
    --Tangerine: #ff9400;
    --White: #fff;
}

/* Base style */

* {
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

*::selection{
    background: var(--White);
    color:var(--Plum);
}

body {
	width: 100vw;
    color: #fff;
    background: var(--Plum);
}

main {
    position: relative;
    margin: auto;
}

/* Reuseable components */

section {
    padding: 0em 5em;
}

.grad-txt {
    margin-right: 0.3em;
    font-weight: 800;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,orange,green,#0593ff,violet);
    color: transparent;
}

.grad-btn {
    position: relative;
    min-width: 110px;
    height: 42px;
    font-size: 14px;
    font-weight: 600;
    background: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg,orange,green,#0593ff,violet);
    color: var(--Tangerine);
}

.grad-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2em;
}

.grad-heading span {
    margin-right: 10px;
    font-size: 25px;
}

.grad-heading h2 {
    font-size: 25px;
}

/* Header starts */

header {
    padding: 1em 5em ;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box img {
    width: 150px;
}

.toggle-btn {
    width: 40px;
    height: 40px;
    background: var(--Tangerine) url(../assets/menu.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 90;
    cursor: pointer;
}

.toggle-btn:active {
    background: var(--Tangerine) url(../assets/close.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes close-animation {
    100% {
        top: 50%; /* Start position above the viewport */
      }
}

.menu-box {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    background: #f4f4f4;
    z-index: 50;
    animation: close-animation 0.3s ease-in;
}

@keyframes drop-animation {
    0% {
        top: -100%; /* Start position above the viewport */
      }
}

.menu-box.active {
    left: 0;
    animation: drop-animation 0.3s ease-in;
}  

.menu-box ul {
    position: relative;
    list-style: none;
}

.menu-box ul li a {
    font-size: 16px;
    font-weight: 700;
    color: #ff9400;
    line-height: 5em;
}

.social-media-fh ul {
    list-style: none;
}

.social-media-fh ul li a img  {
    width: 20px;
    height: 20px;
    fill: var(--Tangerine);
}
  
.menu-box .social-media-fh {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: -90px;
    left: 0;
    width: 60px;
    height: 100%;
}

.social-media-fh ul li hr  {
    background-color: rgba(193,203,243,.922);
    border: none;
    height: 210px;
    width: 1px;
}

/* Hero starts */

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-txt-box h1 {
    font-size: 4rem;
}

.hero-txt-box p {
    width: 60%;
    font-weight: 500;
    line-height: 2;
    margin: 10px 0;
}

.portfolio-btn {
    margin: 10px 0;
}

.hero-img-box img {
    width: 410px; /* Fixed width in pixels */
    height: 410px; /* Fixed height in pixels */
    background: var(--White);
}

.ft-conatiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.nickname-box p {
    font-size: 16px;
    font-weight: 600;
}

.scm-box ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.scm-box ul li a img  {
    width: 25px;
    height: 25px;
    fill: var(--Tangerine);
}

/* Expertise starts */

.expertise-section {
    margin-top: 5em;
}

.expertise-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skills-list-box .box-head {
    display: flex;
    padding: 10px 1em;
    gap: 10px;
    border-bottom: 1px solid rgba(78,78,78,.358);
}

.box-head .box-indicator span {
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: left;
    border-radius: 50%;
}

.box-head .box-indicator span:first-child {
    background-color: #fb4646;
    margin-left: 0;
}

.box-head .box-indicator span:nth-child(2) {
    background-color: #fcb024;
}

.box-head .box-indicator span:nth-child(3) {
    background-color: #29c233;
}

.expertise-box .skills-list-box {
    width: 350px;
    border: 1px solid rgba(78,78,78,.358);
    border-radius: 10px;
    box-shadow: 3px 3px 5px 2px #000;
    min-height: 300px;
    margin: 1em;
}

.box-head h5 {
    margin: 0;
}

.skills-list-box .box-contents {
    padding: 1em;
    text-align: left;
}

.box-contents .box-content-list {
    display: block;
    margin-bottom: 20px;
}

.box-contents span {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
}

/* Portfolio starts */

.portfolio-section {
    margin-top: 3em;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.portfolio-container .port-box {
    width: 350px;
    border: 1px solid rgba(78,78,78,.358);
    border-radius: 10px;
    box-shadow: 3px 3px 5px 2px #35344f;
    min-height: 300px;
    margin: 1em;
    padding: 1rem;
}

.port-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.port-box .pf-box-content h1 {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.port-box p {
    font-size: .9rem;
    text-align: left;
    line-height: 1.5;
}

.pf-box-content .tool-use {
    margin-top: 10px;
}

/* Tools starts */

.tools-container .tools-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.tools-box .tl-dis {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgb(237, 242, 248);
}

.tools-box img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.tools-container {
    margin-top: 3em;
}